<!DOCTYPE html>
<html lang="{{site.Language}}">
<head>
    {{- partial "head.html" . }}
</head>
<body class="bg-white dark-gray pv4-ns ph5-ns">
    {{- block "header" . -}}
    {{- partial "header.html" . -}}
    {{- end -}}
    <div id="content">
    {{- block "main" . }}{{- end }}
    </div>
    {{- block "footer" . -}}
    {{- partial "footer.html" . -}}
    {{- end }}
</body>
</html>
