{{ define "main" }}
<section class="h-feed code nested-headline-line-height nested-copy-line-height nested-copy-separator nested-copy-indent">
<p class="fw7">{{ .CurrentSection.Title }}</p>  
<div class="pl3 list">
{{ range .Paginator.Pages }}
  <article class="h-entry mv2">
    <span class="title"><a class="p-name u-url link mid-gray underline-hover" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></span>
  </article>
{{ end }}
</div>
</section>
{{ end }}