{{ define "main" }}
<article class="h-entry measure-wide w-90 sans-serif center nested-headline-line-height nested-copy-line-height nested-copy-separator">

  <header class="tc">
    <h1 class="p-name f2 dark-gray">{{ .Params.headline | default .Title | markdownify }}</h1>    
    <time class="dt-published f6 code" datetime="{{ .PublishDate }}">
      {{.PublishDate.Format "January 2, 2006"}}
    </time>
  </header>
  <hr class="divider mv4 ba b--near-white center w-50" />

  <div class="e-content f4">
    {{ .Content }}
  </div>

</article>

{{ if in site.Params.mainSections .Type }}
<nav class="page-navigation code f6 tc mt5 center mw6">

  {{ with .NextInSection }}
  <a class="next link mid-gray dib" href="{{ .Permalink }}" title="NEXT: {{ .Title }}">
    <span>&lt;&lt;</span>
  </a>
  <span class="dib"> &middot; </span>
  {{ end }}

  <a class="home link mid-gray dib" href="{{ .Site.Home.Permalink }}" title="Back home">home</a>

  {{ with .PrevInSection }}
  <span class="dib"> &middot; </span>
    <a class="prev link mid-gray dib" href="{{ .Permalink }}" title="PREVIOUS: {{ .Title }}">
      <span>&gt;&gt;</span>
    </a>
  {{ end }}
  
</nav>
{{ end }}
{{ end }}