<footer class="f6 code mt5 center mw6">
  <hr class="divider mv4 ba b--near-white center w-50" />
  <span>Copyright &copy; {{ now.Year }}</span>
  <a class="link" href="{{ relref . "subscribe" }}">Subscribe</a>
<span>/</span>
  <a class="link" href="{{ relref . "about" }}">About</a>
</footer>
<script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
