<nav class="code center w-90 mb4">
  <a class="link dark-gray" href="{{ site.Home.Permalink }}">&lt;&lt; {{ site.Home.RelPermalink }}</a>
  {{ if in site.Params.mainSections .Type }}
  <a class="link" href="{{ .CurrentSection.RelPermalink }}">{{ .CurrentSection.Title }}</a>
  {{ end }}
</nav>