<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<title>{{- if .IsHome -}}{{- site.Title }}{{- with .Description }} &ndash; {{ . -}}{{- end -}}{{- else -}}{{- .Params.seo_title | default .Title | plainify }} &ndash; {{ site.Title -}}{{- end -}}</title>
<meta name="description" content="{{ with .Description -}}{{ . -}}{{ else -}}{{ if .IsPage -}}{{ .Summary | default site.Params.description -}}{{ end -}}{{ end -}}" />

<link rel="canonical" href="{{ .Permalink }}" />
{{- template "_internal/schema.html" . }}

{{- $options := dict "inlineImports" true "noMap" true }}
{{- $css := resources.Get "app.css" | resources.PostCSS ($options) }}
{{- if hugo.IsProduction }}
{{- $css = $css | minify | fingerprint | resources.PostProcess }}
{{- end}}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">

{{- with .OutputFormats.Get "rss" -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end -}}
{{/*  TODO: Add ActivityPub integration  */}}
