{{- define "header" }}
<header class="entry-header mw7 sans-serif">
  <h1 class="entry-title p-name f1-m f-5-l tc ttc mb1 mh3">{{.Params.headline | default .Title | markdownify }}</h1>
  <h2 class="tc f1-l fw6 mt0 mh3">{{.Params.subheadline | default .Description | markdownify }}</h2>
</header>
{{ end -}}
{{ define "main" }}
<section class="mw7 sans-serif nested-headline-line-height nested-copy-line-height nested-copy-separator">

  {{.Content}} 

</section>
{{ end }}
{{- define "footer" }}
<footer class="site-footer code bg-near-black moon-gray pv3" role="contentinfo">
  <div class="site-info mw8 center w-90">
    <span class="copyright f5">Copyright &copy; {{ now.Format "2006" }} {{ site.Title }}. Nearly all rights reserved.<span>
  </div>
</footer>
{{ end }}